<div class="d-2 t-10 p-10 no-gutter">
	<div class="action d-10 no-gutter t-10 no-gutter p-10 no-gutter">
		<div class="action__pane d-10 t-10 p-10">
			<a class="action__button button button--nuetral left" bt-action="section.edit" bt-default="nuetral" href="/sections/edit"><i class="fa fa-pencil" aria-hidden="true"></i></a>
			<div class="search left no-gutter">
				<a class="action__button button button--nuetral arrow left search__button" bt-action="entries.search" bt-default="nuetral" href="/sections/search"><i class="fa fa-search" aria-hidden="true"></i></a>
				<input type="text" class="input__text input__text--active search__input search__input--hidden" value="" name="search[sections]" placeholder="Search all entries..."></input>
			</div >
			<a class="action__button button button--positive right" bt-action="section.add" bt-default="positive" href="/sections/add"><i class="fa fa-plus" aria-hidden="true"></i></a>
			<a class="action__button button button--negative right" bt-action="section.remove" bt-default="negative" href="/sections/remove"><i class="fa fa-minus" aria-hidden="true"></i></a>
		</div>
	</div>
</div>
